body{
    margin: 0;
    background-image: url(https://images.unsplash.com/photo-1633613286848-e6f43bbafb8d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
    
}
main{
   display: block;
   margin-left: 30vw;
   margin-top: 150px;
   
}

#image{
 width: 100%;

}
#typeBox{
   height: 60px;
   width: 270px;
   font-size: 20px;
   outline: none;
}
.keypad{
    width: 65px;
    height: 60px;
    border: 1px dotted rgb(91, 214, 95);
   margin: 1px 1px ;
    cursor: pointer;
    
}
.keypad:hover{
    font-size: 15x;
    background-color: rgb(121, 211, 211);
}